// Config Cellula-nf

// Manifest
manifest {
  name = 'Cellula-nf'
  author = 'Andrea Cossa'
  //homePage = 'https://github.com/andrecossa5/Cellula.git'
  description = 'Cellula-nf'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  hpc {
    executor.name = 'pbspro'
    process.queue = 'workq'
    singularity.enabled = true
    singularity.cacheDir = '~/.singularity'
    singularity.runOptions = '--bind /hpcnfs'
  }
  local {
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda {
    conda.enabled = true
    cacheDir = '~/.conda'
  }

}

// Processes
process {

  // errorStrategy = 'retry'
  // maxRetries = 3
  cpus = 1
  memory = '1G'
  container = 'acox1/cellula:1.0'
  conda = '/Users/IEO5505/mambaforge/envs/Cellula'

}

// Params
// params {
//     //
// }

// Tracing
trace {

  enabled = true
  file = "trace.txt"
  overwrite = true

}